body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(16, 77, 16) , rgb(46, 97, 173));
}

html{  
  background-color: rgba(58, 201, 58, 0.664);
}


